/* Importação do Tailwind v4 */
@import "tailwindcss";

/* Configurações do tema (substitui o antigo tailwind.config.js) */
@theme {
  --font-sans: Arial, sans-serif;
}

/* Suas variáveis normais */
:root {
  --color-primary: #0cc0df; /* Azul Claro */
  --color-secondary: #006dac; /* Azul */
  --color-alternative: #ccc4af; /* Bege */
  --color-matematica: #ff8aef; /* Rosa */
  --color-computacao: #ffc555; /* Laranja */
  --color-dados: #ecf47a; /* Amarelo */
  --color-fisica: #beff8b; /* Verde */
  --color-background: #f3f3f3; /* Branco */
  --color-text: #000; /* Preto */
}