@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

/* Adicionando paleta de cores */
:root {
  --color-primary: #0cc0df; /* Azul Claro */
  --color-secondary: #006dac; /* Azul */
  --color-alternative: #ccc4af; /* Bege */
  --color-matematica: #ff8aef; /* Rosa */
  --color-computacao: #ffc555; /* Laranja */
  --color-dados: #ecf47a; /* Amarelo */
  --color-fisica: #beff8b; /* Verde */
  --color-background: #f3f3f3; /* Branco */
  --color-text: #000; /* Preto */
  --font-family: Arial, sans-serif;
}

/* Definindo Arial como fonte padrão */
body {
  font-family: var(--font-family);
}

/* Definindo Arial comme fonte padrão */
body {
  font-family: var(--font-family);
}