/* Importação do Tailwind v4 */
@import "tailwindcss";

/* Configurações do tema (substitui o antigo tailwind.config.js) */
@theme {
  --font-sans: Arial, sans-serif;

  /* Cores do projeto */
  --color-primary: #519cab;
  --color-navbar: #315E7D;
  --color-secondary: #335c67;
  --color-alternative: #c3e7f1;
  --color-matematica: #c3e7f1;
  --color-computacao: #4f957d;
  --color-dados: #e09f3e;
  --color-fisica: #9e2a2b;
  --color-background: #efebe3;
  --color-text: #000;
}